/* !!!! */


/* первый блок, а именно блок с персонажами */


/* !!!! */

.main-wrapper {
    overflow: hidden;
    padding-top: 65px;
    background-color: #56cad6;
    background-image: url('../img/icons-texture.png');
    background-attachment: fixed;
}

.main {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.characters {
    position: relative;
    z-index: 1;
    display: flex;
    width: 80%;
    padding-top: 190px;
    justify-content: center;
}

.characters figure {
    margin: 0;
}

.female figcaption,
.male figcaption {
    position: absolute;
    display: flex;
    width: 255px;
    height: 205px;
    text-align: center;
    background-image: url('../img/male-cloud.png');
    align-items: center;
    justify-content: center;
}

.male figcaption {
    top: -140px;
    left: -165px;
    transform: rotate(-10deg);
}

.female figcaption {
    top: -125px;
    left: 95px;
    width: 276px;
    transform: rotate(17deg);
    background-image: url('../img/female-cloud.png');
}

.male figcaption p,
.female figcaption p {
    position: relative;
    top: -10px;
}

.male,
.female {
    position: relative;
}

.male {
    left: -80px;
}

.female {
    top: -20px;
}

.caption {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
}

.caption h1 {
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 500;
    line-height: 1;
    width: 410px;
    text-align: center;
    color: white;
}

.clouds {
    position: relative;
    top: -80px;
    margin-bottom: -80px;
}

.clouds::before {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 138px;
    content: '';
    background-image: url('../img/clouds-front.png');
    background-size: 100% 100%;
}

.clouds::after {
    position: absolute;
    top: -6px;
    display: block;
    width: 100%;
    height: 144px;
    content: '';
    background-image: url('../img/clouds-transparent.png');
    background-size: 100% 100%;
}


/* !!!! */


/* Второй блок, а именно блок с мозгом */


/*  */

.brain-wrapper {
    width: 100%;
    background-color: white;
}

.brain-block {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
}

.brain {
    position: relative;
    width: 422px;
    height: 424px;
    background-image: url('../img/brain.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.brain li {
    position: absolute;
    text-align: center;
}

.brain li:hover {
    cursor: pointer;
}

.brain li:hover div:nth-child(2) {
    font-size: 1em;
    width: 276px;
    transition: .2s ease 0s;
    opacity: 1;
}

.brain li:hover img {
    transition: .5s ease 0s;
    transform: scale(1.2, 1.2);
    transform-origin: 50% 50%;
}

.brain div:nth-child(1) {
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #4ca9b4;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .75);
    justify-content: center;
    align-items: center;
}

.brain div:nth-child(2) {
    font-size: .9em;
    position: absolute;
    width: 250px;
    opacity: .5;
}

.brain img {
    position: relative;
    top: 3px;
    left: 3px;
}

.brain a {
    text-decoration: none;
}

.brain h2 {
    margin-bottom: 25px;
    color: #1c3343;
}

.brain p {
    color: #707e8a;
}

.brain li:nth-child(1) {
    top: -30px;
    left: 90px;
}

.brain li:nth-child(1) div:nth-child(2) {
    top: -30px;
    left: -300px;
}

.brain li:nth-child(2) {
    top: 85px;
    left: 395px;
}

.brain li:nth-child(2) div:nth-child(2) {
    top: -90px;
    left: 90px;
}

.brain li:nth-child(3) {
    top: 175px;
    left: 420px;
}

.brain li:nth-child(3) div:nth-child(2) {
    top: -5px;
    left: 50px;
}

.brain li:nth-child(4) {
    top: 350px;
    left: 48px;
}

.brain li:nth-child(4) div:nth-child(2) {
    top: -20px;
    left: -300px;
}

.brain li:nth-child(5) {
    top: 175px;
    left: -75px;
}

.brain li:nth-child(5) div:nth-child(2) {
    top: -25px;
    left: -280px;
}


/*  */


/* Третий блок, а именно новости */


/*  */

.news-wrapper {
    width: 100%;
    margin-top: 50px;
    background-color: white;
}

.news {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.news-item {
    position: relative;
    margin-bottom: 20px;
    flex-basis: 27%;
}

.news-item * {
    font-weight: 500;
}

.news-item a {
    text-decoration: none;
}

.news-item div {
    display: flex;
    overflow: hidden;
    height: 200px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .75);
    justify-content: center;
    align-content: center;
    align-items: center;
}

.news-item img {
    position: relative;
    width: 100%;
    min-height: 200px;
}

.news-item h2,
.news-item p {
    color: #1c3343;
}

.news-item h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

.news-item h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.news-item h2,
.news-item h3 {
    font-size: 1.2em;
}

.news-item h3,
.news-item a.more {
    color: #d96b63;
}

.news-item p {
    margin: 0;
    padding: 15px 0 10px 5px;
    text-align: justify;
    border-top: 1px solid #1c3343;
}

.news-item a.more {
    margin-left: 10px;
}

.news-item a.more::after {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    content: '';
    border-radius: 50%;
    background-color: #d96b63;
    background-image: url('../img/small-arrow.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
