.main-wrapper {
    padding-top: 65px;
    background-color: #56cad6;
    background-image: url('../img/icons-texture.png');
    background-attachment: fixed;
    overflow: hidden;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.characters {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    padding-top: 190px;
    z-index: 1;
}

.characters figure {
    margin: 0;
}
.female figcaption,
.male figcaption {
    position: absolute;
    display: flex;
    width: 255px;
    height: 205px;
    text-align: center;
    background-image: url('../img/male-cloud.png');
    align-items: center;
    justify-content: center;
}
.male figcaption {
	transform: rotate(-10deg);
	top: -140px;
    left: -165px;
}
.female figcaption {
    width: 276px;
    background-image: url('../img/female-cloud.png');
    transform: rotate(17deg);
    top: -125px;
    left: 95px;
}
.male figcaption p,
.female figcaption p {
	position: relative;
	top: -10px;
}
.male,
.female {
	position: relative;
}
.male {
	left: -80px;
}
.female {
	top: -20px;
}
.caption {
	display: inline-block;
	position: absolute;
	top: 50%;
    right: 0;
}
.caption h1 {
	font-family: "Comic Sans MS", sans-serif;
	font-weight: 500;
	width: 410px;
	text-align: center;
	line-height: 1;
	color: white;
}
.clouds {
	position: relative;
	top: -80px;
	margin-bottom: -80px;
}
.clouds::before {
	content: "";
	display: block;
	position: relative;
	height: 138px;
	width: 100%;
	background-image: url("../img/clouds-front.png");
	background-size: 100% 100%;
	z-index: 1;
}
.clouds::after {
	content: "";
	display: block;
	position: absolute;
	height: 144px;
	width: 100%;
	background-image: url("../img/clouds-transparent.png");
	background-size: 100% 100%;
	top:-6px;
}